<div class="container mt-3">
    <app-task-form [task]="selectedTask" (save)="saveTask($event)"></app-task-form>
    <ul class="list-group mt-3">
      <li *ngFor="let task of tasks" class="list-group-item d-flex justify-content-between">
        <span [class.text-decoration-line-through]="task.completed">{{ task.title }}</span>
        <div>
          <button class="btn btn-sm btn-outline-success me-2" (click)="editTask(task)">Edit</button>
          <button class="btn btn-sm btn-outline-danger" (click)="deleteTask(task._id!)">Delete</button>
        </div>
      </li>
    </ul>
  </div>
  